* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  color: #dadada;
}


input, button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
  display: block;
}



/* button {
    border: red 1px solid;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
} */

/* input {
  padding: 5px;
  margin: 8px;
}



#btn {
  background-color: gainsboro;
  padding: 15px 15px;
  font-weight: 800;
  font-size: larger;
  margin-right: 10px;
  cursor: pointer;
}

h1 {
  background-color: gainsboro;
  color: #111;
  width: fit-content;
  padding: 10px 120px;
  margin-bottom: 20px;
  font-size: xx-large;

} */











/* .parent {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: none;
  color: white;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid white;
}

.image {
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 7px;
  border: 1px solid white;
} */



/* Props Project CSS*/

/* 
.parent {
  height: 100vh;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  width: 290px;
  background-color: white;
  border-radius: 23px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 5px;
  gap: 3px;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}

.center {
  background-color: transparent;
}

.center h3 {
  font-size: 18px;
  font-weight: 500;
  color: #8b8b8b;

}

.center h2 {
  font-size: 20px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 13px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 5px 6px;
  border-radius: 5px;

}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 7px 7px;
  border: none;
  border-radius: 5px;
  column-width: 600;
  cursor: pointer;
}

.bottom h3 {
  font-size: 13px;
  padding-bottom: 1px;
}

.bottom p {
  font-size: 11px;
} */